un-img[data-theme="haerer-geruestbau"] {
	border: thin solid var(--primary);
}

un-img[data-theme="haerer-geruestbau"] img {
	min-width: 175px;
	outline-style: solid;
	outline-color: var(--primary);
	outline-width: 1px;
}

/* [data-shape="polygon"] */

un-img[data-theme="haerer-geruestbau"][data-shape="polygon"] {
	background-color: var(--primary-transp);
	clip-path: polygon(2.06% 5.92%, 99.46% 1.75%, 101% 100%, 9.11% 72.92%);
}
un-img[data-theme="haerer-geruestbau"][data-shape="polygon"] img {
	clip-path: polygon(5.06% 7.92%, 96.46% 3.75%, 100% 100%, 10.11% 72.92%);
}
