:root {
    --body-bg-color: hsl(280deg 80% 95%);
    --body-text-color: hsl(280deg 30% 10%);
    --modal-bg-color: hsl(50deg 80% 95%);
    --modal-border-color: hsl(50deg 30% 70%);
    --modal-text-color: hsl(50deg 50% 25%);
}

body {
    font: 1em/1.6 sans-serif;
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    padding: 2em;
    max-width: 500px;
}

p {
    margin-bottom: 1em;
}

button {
    padding: 0.6em 1em;
    cursor: pointer;
}

dialog {
    max-width: 300px;
    padding: 1.5em;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 0.25em 0.1em hsl(0 0% 0% / 10%);
    border-radius: 0.5em;
}

dialog:modal {
    background-color: var(--modal-bg-color);
    color: var(--modal-text-color);
    max-width: 450px;
    padding: 2em;
    border-radius: 1em;
    border: 0;
    box-shadow: 0 0 1em 0.5em hsl(0 0% 0% / 10%);
}

dialog:modal .text-input {
    border-color: var(--modal-border-color);
}

dialog::backdrop {
    --modal-backdrop-bg-color: hsl(280deg 50% 5% / 50%);
    --modal-backdrop-bg-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='10' cy='10' r='1' /></svg>");
    background: var(--modal-backdrop-bg-color) var(--modal-backdrop-bg-image);
}

.text-input {
    padding: 1em;
    width: 100%;
    border: 1px solid #eee;
}

.btn-group {
    display: flex;
    gap: 1em;
}

.text-input + .btn-group {
    margin-top: 1em;
}
