@layer attributes {
    footer[data-sticky="bottom"] {
        position: fixed;
        bottom: 10px;
    }
	
	html[scrolling-down] footer[data-sticky="smart"] {
        translate: 0 0%;
        opacity: 1;
    }

	html[scrolling-up] footer[data-sticky="smart"], 
	footer[sticky="smart"]:focus-within {
        translate: 0 -100%;
        opacity: 0;
    }
}
