@layer default {
    lit-nav {
        --_color-background: white;
		/* dont' change dimensions because they need to fill the grid */
        width: 100%;
        height: fit-content;
        min-width: min-content;
        /* layout for trigger + content */
        display: flex;
        flex-direction: column;
    }
    
	lit-nav > div.content {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        display: flex;
        margin: 1rem;
        padding: 0;
        width: fit-content;
    }

	 lit-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: max-content;
        z-index: 1;
    }

    lit-nav > .content > li {
        padding: 0.2rem;
    }

    lit-nav > .content a.current {
        font-weight: bold;
    }

	.scrolledTo {
		color: var(--primary, lightblue)
	}
}